body{
    background-color: PapayaWhip;
    padding: 40px ;
}
nav {
    background-color: gainsboro;
}
 nav ul {
    padding: 10px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: center;/* center the list items */
 }
nav ul li {
    margin: 5px  ; /* add some spacing betwwen the list */
}
nav ul li.left{
    margin-right: auto;
    font-weight: bold;
}
nav ul li.right{
    margin-left: auto;
    background-color: black;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Times New Roman', serif;
    color: grey;   
}
.image-container{
    position: relative;
    background-color:silver;
    display: flex;
    justify-content: center;
    height: 350px;
}
.background-image{
    width: auto;
    /* height: auto; */
    border-bottom-left-radius: 500px 500px;
    border-bottom-right-radius: 500px 500px ; 
    max-height: 90%;

    /* border-radius: 50% 50%;  */
}
.overlay-image{
    position: absolute;
    width: 20%;
    height: auto;
    bottom: 0;
}
.content1{
    display: flex;
    background-color: Gainsboro;
    padding-left: 40px;
}
.content1 p.right{
    margin-left: auto;
    padding-right: 35px;
}
.content1 p{
    margin:10px;
    font-size: small;
    font-family: courier;
}
.header{
    display: flex;
    align-items: center;
    background-color: Gainsboro;
}
.header h1{
    margin: 0;
    padding-left: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 2px;
    font-size: 100px;
    font-weight: 900;
}
.fa-arrow-right{
    font-size: 200px;
    margin-left: auto;
    padding-right: 35px;
}
.logo{
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    padding:0px 40px 0px 100px;
    margin: 0;
}
.logo li img{
    width: 100px;
    margin: 10px;
    object-fit: cover;
    object-position: center;
}
.paragraph{
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding: 10px 0px 0px 35px;  
    margin: 0;
}
.flex-container{
    display: flex;  /*creatig a flex container*/
    margin: 0%;
}
.left-container{
    flex-basis: 40%; /*take up 25% of container width*/
    background-color: black;
    height: inherit; /* inherits the height of the parent class*/
    padding: 20px 0px 0px 35px;
    display: flex;
    flex-direction: column; 
}
.left-image{
    max-height: 310px;
    overflow: hidden;
    /* flex-grow: 1; */
}
.left-image img {
    object-fit: cover;
    object-position: center;
    max-height: 100%;
    height: 100% ;
    width: 100%;
}
.glasses p{
    color: white;
    font-weight: lighter;
    font-size: small;
    padding: 0%;
}
.right-container{
    flex-basis: 60%;
    background-color: black;
    margin: 0%;
    padding: 20px 35px 0px 35px;
}
.our-service{
    margin: 0%;
    color: white;
    font-weight: bolder; 
    padding:0px 0px 20px 0px ; 
}
.endorsement{
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    color: white;
}
.brand{
    color: lightgray;
    font-weight: lighter;
}
.arrow{
    display: flex;
    padding: 20px 0px 0px 0px;
}
.pictures{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}
.pictures img{
    flex-grow: 1;
    aspect-ratio: 9/6; /*streches images*/
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}
.content2 h1{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin: 0%;
    padding: 10px 10px 0px 35px;
    font-size:65px;
}
.box{
    background-color: Gainsboro;
}
.talent{
    display: flex;
}
.p-left{
    margin: 0%;
    padding: 30px 10px 10px 35px;
    margin-left: auto;
    color: black;
    font-size: 65px;
    font-weight: bolder;
}
.p-right{
    margin: 0%;
    padding: 30px 10px 10px 300px;
    margin-right: auto;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: DimGray;
}
.full-talent{
    display: flex;
    max-height: 80vh; /* takes 80% of my screen */
    max-width: 100vw;
}
.talent-left{
    flex-basis: 50%;
    padding: 0px 0px 0px 35px;
    display: flex;
    flex-direction: column; 
}
.t3{
    max-height: 200px;
}
.t3 img{
    object-fit: cover;
    object-position: center;
    max-height: 100%;
    height: 100% ;
    width: 100%;
}
.con{
    display: flex;
    margin-top: 30px;
}
.talent-right{
    flex-basis: 50%;
    display: flex;
    margin: 0%;
    /* background-color: black; */
    margin:0px  20px 60px 20px;
}
.img-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 50%;
    /* flex-grow: 1; */
    margin-right: 10px;
    border: 1px solid lightgray;
    background-color: black;
}
.img-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* flex-grow: 1; */
    max-width: 50%;
    height: 99%;
    border: 2px solid lightgray;
    margin-left: 10px; 
    background-color: black;
}
.top-left{
    /* height: inherit ; */
    overflow: hidden;
    max-height: 320px;
    width: 300px;
}
.top-left img{
    /* flex-grow: 1; */
    width: 110%;
    object-position: center; 
}
.top-right{
    overflow: hidden;
    max-height: 320px;
    width: 300px;
}
.top-right img{
    /* flex-grow: 1; */
    width: 99.9%;
    /* height: 100%; */
    object-fit: cover;
    object-position: center;
}
.bottom-left{
    display: flex;
    flex-direction: column;
}
.amber{
    display: flex;
    background-color: black;
    margin:0%;
}
.amber p{
    /* padding: 20px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
} 
.bottom-right{
    display: flex;
    flex-direction: column;

}
.hera{
    display: flex;
    background-color: black;
    margin: 0%;
} 
.hera p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.icon{
    display: flex;
    align-items: center;
    margin-left: 0px ;
}
.icon a img{
    font-size: 20px;
    padding: 5px;
}
.final-content{
    background-color: black;
    margin: 0%;
    /* border: 2px solid red; */
}
.reviews{
    display: flex;
    padding:40px 35px 0px 35px;

}
.p1 {
    color: white;
    font-size: 70px;
    font-weight: bolder;
    flex-basis: 70%;
    margin: 0%;
}
.p2{
    color: silver;
    font-size: 40px;
    flex-basis: 30%;
    margin: 0%;
}
.middle-content{
    background-color: black;
    display: flex;
    /* margin: 20px; */
    position: relative;
    color: white;
}
.content-left{
    flex-basis: 50%;
    width: 300px;
    max-height: 1200%;
    margin: 0%;
    background-color: black;
}
.content-left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0px 10px 0px 0px;
    opacity: 1.0;
    max-height: 100vh; /* takes 80% of my screen */
    max-width: 100vw;  
    margin: 0%; 
}
.content-right{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    overflow: hidden;
    width: 300px;
    height: 1100%;
}
.qoutes{
    padding: 20px 0px 0px 60px;
    color: white;
    font-size:  50px;
    font-style: italic;
    font-weight: bolder;
    margin: 0%;
}
.reviews-right{
    color: lightgray;
    text-align: justify;
    font-size: 15px;
    padding: 0px 0px 0px 70px;
    margin: 0%;
    font-weight: bolder;
}
.content-adidas{
    opacity: 0.1;
    padding: 0px 0px 0px 200px; 
    width: 1000px;
    margin: 0%;
}
.text1 {
    position: absolute;
    bottom: 200px;
    left: 350px;
    color: white;
    font-size: 40px;
    font-weight: bolder;
}
.text2 {
    position: absolute;
    bottom: 170px;
    left: 250px;
    color: white;
    font-size: 30px;
}
.double-arrow{
    position: absolute;
    bottom: 300px;
    right: 40px;
    margin: 0%;

}
.footer{
    background-color: lightgray;
    margin: 0%;
    display: flex;
    padding: 35px;
}
.footer-left{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin: 0%;
}
.footer-left h1{
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}

.footer-right{
    display: flex;
    /* padding: 20px; */
    flex-basis: 50%;
    margin: 0%;
    align-content: center;
}
.industry{
    padding: 0px 30px 0px 100px;
    margin: 0%;
}
.industry p{
    font-size: 12px;
    color: dimgrey;
    font-weight: lighter;
}
.services{
    padding: 0px 30px 20px 30px;
    margin: 0%;
}
.services p{
    font-size: 12px;
    color: dimgrey;
    font-weight: lighter;
}
.company{
    padding: 0px 30px 20px 50px;
    margin: 0%;
}
.company p{
    font-size: 12px;
    color: dimgrey;
    font-weight: lighter;
}

